@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    margin: 0;
    font-family: Lato,Helvetica,Arial,sans-serif;
    background-color: white;
    color: rgb(22, 13, 22)
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mydark{
    background-color: black;

    font-color: white;
}

/* Header Starts */
#header1{
    background-color: #0b0c0c;
    width: 100%;
    height: 10px;
}

/* Nav1 Div Starts */
#nav1{
    background-color: #f7f7f7;
    height: 90px;
}

/* Logo */
.logo{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.logo>img{
    width: 200px;
    height: 2000px;
    
}

/* Find Store Location */
#findStore{
    margin-left: 88%;
    margin-top: -4%;
}

#findStore > a{
    text-decoration: none;
    color: #5b5959 !important;
}

.fa-map-marker-alt{
    display: inline;
    color: #006341;
}

#find{
    display: inline;
    padding-left: 4px;
}

/* Navigation Menu Starts */
.navbar{ 
    background-color: #f7f7f7;
    height: 110px;
}

#navigationMenu{
    width: 100%;
    margin-top: 0%;
    margin-left: 3%;
    position:absolute;
}

.navbar-nav{
    margin-left: 5%;
}

.nav-item>a{
    text-decoration: none;
    color: #242221;
    font-size: 16px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    padding: 0.5%;
}

.nav-item > a:hover{
    background-size: 28px;
    background-color: #242221;
    color: #FFF !important;
}

/* Geolocation & Weather */
#weather{
    display: inline-block;
    margin-left: 69%;
    margin-top: 2%;
    color: #006341;
}
#icon{
    width: 50px;
    height: 50px;
    display: inline-block;
}
/* Navigation Menu Ends */


/* Image Div Starts */
#section{
    height: 560px;
    width: 77%;
    background-image: url(images/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position-x: center;
}

#section1{
    height: 560px;
    width: 77%;
    background-image: url(images/2.jpg);
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section2{
    height: 560px;
    width: 77%;
    background-image: url(images/3.jpg);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section3{
    height: 560px;
    width: 77%;
    background-image: url(images/4.jpg);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section4{
    height: 560px;
    width: 77%;
    background-image: url(images/5.png);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section5{
    height: 560px;
    width: 77%;
    background-image: url(images/6.png);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section6{
    height: 560px;
    width: 77%;
    background-image: url(images/7.jpg);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section7{
    height: 560px;
    width: 77%;
    background-image: url(images/8.png);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section8{
    height: 560px;
    width: 77%;
    background-image: url(images/9.jpg);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

#section9{
    height: 560px;
    width: 77%;
    background-image: url(images/10.jpg);
    background-size:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
/* Image Div ends */

#section10{
    height: 550px;
    width: 100%;
}

#component1{
    float: left;
    width: 30%;
    margin-left: 6%;
    margin-top: 6%;
}

#component2{
    float: right;
    width: 30%;
    margin-right: 15%;
    margin-top: 12%;
}

#component2>h4{
    text-transform: uppercase;
    color: rgb(71, 181, 31);
    font-weight: bold;
}

#component2>p{
    text-transform: italic;
    font-size: 18px;
    color: rgb(71, 181, 31);
    padding-top: 1%;
}

#section11{
    height: 530px;
    width: 100%;
}

#component3{
    float: left;
    width: 30%;
    margin-left: 10%;
    margin-top: 8%;
}

#component3>h4{
    text-transform: uppercase;
    color: rgb(71, 181, 31);
    font-weight: bold;
}

#component3>p{
    text-transform: italic;
    font-size: 18px;
    color: rgb(71, 181, 31);
    padding-top: 1%;
}

#component4{
    float: right;
    width: 30%;
    margin-right: 15%;
    margin-top: 2%;
}

/* Social Icon Div Starts */
#section12{
    height: 100px;
    width: 100%;
    background-color: #f0f0f0;
    border: 2px solid white;
}

.fab{
    font-size: 33px;
    margin-left: 3%;
    margin-top: 2%;
    color: #3d3935 !important;
}

.fab:hover{
    color: #5b5959 !important;
}
/* Social Icon Div Ends */

/* Footer Starts */
footer{
    background-color: #f7f7f7;
    width: 100%;
    height: 300px;
    display: inline-block;
}

#footer1{
    width: 90%;
    float:left;
}

#category1{
    display: inline-block;
    margin-top: 4.45%;
    margin-left: 3%;
    width: 10%;
}

#category2{
    position: absolute;
    display: inline-block;
    margin-top: 4%;
    width: 15%;
    margin-left: 0%;
}

#category3{
    position: absolute;
    display: inline-block;
    margin-top: 4%;
    width: 10%;
    margin-left: 17%;
}

.heading{
    color: #b57636 !important;
}

.heading:hover{
    color: #a1a1a1 !important;
}

.subHeadings{
    color: #9a1b12 !important;
}

.subHeadings:hover{
    color: #a1a1a1 !important;
}

#subHeading2{
    line-height: 1px;
}

.footerLinks{
    text-decoration: none;
}

#category4{
    margin-left: 3%;
    margin-top: 2%;
}

.footerLinks2{
    text-decoration: none;
    color: #2a2dcc !important;
    font-size: 14px;
}

.footerLinks2:hover{
    color: #a1a1a1 !important;
}

#category5>p{
    margin-left: 3%;
    margin-top: 1%;
    font-size: 11px;
    color: #2da715;
}

#footer2{
    float: right;
    margin-right: 2%;
    margin-top: 3%;
}

#starbucksWordMark{
    height: 160px;
}

/* Footer Ends */


/* Accordion Starts */
#accordionFooter{
    position: absolute;
    width: 100%;
    background-color:#f7f7f7 !important;
}

.accordion-item,.accordion-header, .accordion-button, .accordion-body{
    background-color:#f7f7f7 !important;
}

.accordionLinks{
    text-decoration: none;
    color: #3d3935 !important;
    font-weight: bold;
    font-size: 18px;
}

.accordionSubLinks{
    text-decoration: none;
    color: #3d3935 !important;
    font-size: 14px;
}
/* Accordion Ends */

/* Footer Links in Responsive Design Starts */
#ResponsiveFooterLinks{
    position: absolute;
}

#ResponsiveFooterLinks > a{
    text-decoration: none;
    color: #5b5959 !important;
    font-size: 14px;
}

#ResponsiveFooterLinks > a:hover{
    color: #a1a1a1 !important;
}
/* Footer Links in Responsive Design Ends */

/* Coupon Code */
#coupon{
    height: 375px;
    width: 405px;
    visibility: hidden;
    z-index:100;
    margin-left: 35%;
    margin-top: 6%;
    display: inline-block;
    border: 2px ridge white;
    box-shadow: 10px 20px 15px #0b180e;
    position: absolute;
}

#offer1{
    display: inline-block;
}

#offer2{
    display: inline-block;
    margin-left: -1%;
}

#offer3{
    display:block;
}

#couponBtn{
    position:absolute;
    margin-top: -93%;
    margin-left: 95%;
    z-index: 100;
    background-color: #5b5959;
    color: #f7f7f7
}
/* Coupon Code Ends */

/* Drop Down Menu Starts */
/* Coffee Drop Down */
#coffeeDropDown{
    background-color: #1e1e1e;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 420px;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    margin-top: 14%;
}

#coffeeDropDown1{
    display: inline-block;
    margin-top: 0%;
    margin-left: 3%;
    width: 75%;
}

.list-unstyled{
    display: inline-block;
    width: 24%;
    height: 153px;
    padding: 3%;
    vertical-align: top;
}


.list-unstyled >li >a{
    color: #fff !important;
    text-decoration: none;
    display: inline-block;
    margin-left: 3%;
    font-size: 13px;
    font-family: Lato,Helvetica,Arial,sans-serif;
}

.list-unstyled >li >a:hover{
    background-color: green !important;
}

#menuHeading{
    font-size: 15px;
    font-size: bold;
}

#coffeeDropDown2{
    float: right;
    width: 20%;
    margin-right: 2%;
}

#coffeeDropDown2 > img{
    display: block;
    height: 140px;
    width: 100%;
}

#coffeeSubDiv{
    margin-top: -3%;
}

/* Menu Drop Down*/
#menuDropDown{
    background-color: #1e1e1e;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 360px;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    margin-top: 14%;
}

#menuDropDown1{
    display: inline-block;
    margin-top: 0%;
    margin-left: 3%;
    width: 75%;
}

#menuDropDown1 > .list-unstyled{
    height: 290px;
}

#menuDropDown2{
    float: right;
    width: 20%;
    margin-right: 2%;
}

#MenuDropDown2 > img{
    display: block;
    height: 180px;
    width: 100%;
}

/* CoffeeHouse Drop Down */
#coffeeHouseDropDown{
    background-color: #1e1e1e;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 300px;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    margin-top: 14%;
}

#coffeeHouseDropDown1{
    display: inline-block;
    margin-top: 0%;
    margin-left: 3%;
    width: 75%;
}

#coffeeHouseDropDown1 > .list-unstyled{
    height: 240px;
}

#coffeeHouseDropDown2{
    float: right;
    width: 20%;
    margin-right: 2%;
}

#coffeeHouseDropDown2 > img{
    display: block;
    height: 150px;
    width: 100%;
}

#downloadApp{
    text-decoration: none;
    color: white !important
}

#starbucksApp{
    z-index: 100;
    margin-top: -99%;
    width: 65%;
    height: 220px;
    margin-left: 14%;
}

#starbucksApp:hover{
    background-color: green;
}

#starbucksApp > img{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 5%;
}

#starbucksApp > h6{
    font-family: Lato,Helvetica,Arial,sans-serif;
    margin-left: 2.5%;
}

#starbucksApp > p{
    font-family: Lato,Helvetica,Arial,sans-serif;
    margin-left: 2.5%;
    font-size: 14px;
}


/* Responsibility Drop Down */
#responsibilityDropDown{
    background-color: #1e1e1e;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 415px;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    margin-top: 14%;
}

#responsibilityDropDown1{
    display: inline-block;
    margin-top: 0%;
    margin-left: 3%;
    width: 75%;
}

#responsibilityDropDown1 > .list-unstyled{
    width: 22%;
    height: 180px;
}

#responsibilityDropDown2{
    float: right;
    width: 20%;
    margin-right: 2%;
}

#responsibilityDropDown2 > img{
    display: block;
    height: 138px;
    width: 100%;
}

/* About Us Drop Down */
#aboutUsDropDown{
    background-color: #1e1e1e;
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 220px;
    z-index: 100;
    visibility: hidden;
    position: absolute;
    margin-top: 14%;
}

#aboutUsDropDown1{
    display: inline-block;
    margin-top: 0%;
    margin-left: 3%;
    width: 75%;
}

#aboutUsDropDown2{
    float: right;
    width: 20%;
    margin-right: 2%;
}

#aboutUsDropDown2 > img{
    display: block;
    height: 220px;
    width: 100%;
}
/* Drop Down Menu Ends */

/* Code for responsive designing using Media Query*/

@media screen and (max-width: 1600px){
    #accordionFooter{
        visibility: hidden;
    }
    #ResponsiveFooterLinks{
        visibility: hidden;
    }
}

@media screen and (max-width: 1400px){
    #section, #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section9{
        background-position-x: 45%;   
    }
    #section8{
        background-position-x: 55%;
    }
    .subHeadings,.heading,.footerLinks2{
        font-size: 14px;
    }
}

@media screen and (max-width: 1300px){
    #weather{
        margin-left: 65%;
    }
}

@media screen and (max-width: 1265px){
    #category1{
        margin-left: 5%;
        width: 11%;
    }
    #category2{
        margin-left: 2%;
        width: 18%;
    }
    #category3{
        margin-left: 20%;
        width: 15%;
    }
}

@media screen and (max-width:1238px){
    #section8{
        background-position-x: 60%;
    }
}

@media  screen and (max-width:1200px){
    #section, #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9{
        height: 100%;
        width: 100%; 
        background-position-x: 46%;
    }
    #section8{
        background-position-x: 70%;
    }
}

@media  screen and (max-width: 1148px){
    .navbar-nav{
        width: 84%;
        text-align: center;
    }
    #weather{
        margin-left: 62%;
    }
}

@media screen and (max-width: 1124px){
    #category1{
        margin-left: 6%;
        width: 13%;
    }
    #category2{
        margin-left: 2%;
        width: 18%;
    }
    #category3{
        margin-left: 22%;
        width: 15%;
    }
    #category4{
        margin-top: 6%;
    }
}

@media screen and (max-width: 1104px){
    #component2{
        margin-right: 7%;
    }
    #component4>img{
        margin-left: -35%;
    }
    #weather{
        margin-left: 60%;
    }
}

@media  screen and (max-width: 1100px){
    #section, #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9{
        height: 50%;
        background-position-x: 50%;
    }
}

@media screen and (max-width: 991px){
    #find{
        visibility: hidden;
    }
    #findStore {
        margin-left: 86%;
        margin-top: -3%;
    }
    .navbar{
        height: 0px;
    }
    .navbar-toggler{
        position: absolute;
        margin-left: 90%;
        margin-top: -7%;
    }
    #navIcon:focus:not(focus-visible){
        position: sticky;
        margin-left: 90%;
        margin-top: -7%;
    }
    #coffeeDropDown{
        display: none;
    }
    #menuDropDown{
        display: none;
    }
    #coffeeHouseDropDown{
        display: none;
    }
    #responsibilityDropDown{
        display: none;
    }
    #aboutUsDropDown{
        display: none;
    }
    .container-fluid{
        background-color:black;
    }
    #section10, #section11{
        background-color: #FFF;
    }
    .nav-link.active{
        color: #ffffffe6 !important;
        display: inline-block;
    }
    .navbar-nav{
        text-align: left;
    }
    #weather{
        margin-left: 0%;
    }
}

@media screen and (max-width: 950px){
    #category1{
        margin-left: 7%;
        width: 18%;
    }
    #category2{
        margin-left: 3%;
        width: 19%;
    }
    #category3{
        margin-left: 25%;
        width: 18%;
    }
    #category4{
        margin-top: 8%;
    }
}

@media screen and (max-width: 902px){
    #component1{
        margin-left: 0%;
    }
    #component3{
        margin-left: 3%
    }
    #component4{
        margin-right: 24%;
    }
} 

@media screen and (max-width: 840px){
    #component1{
        width: 100%;
    }
    #component1>img{
        margin-left: 25%;
    }
    #component2 {
        width: 86%;
        margin-top: 6%;
        text-align: center;
    }
    #section11{
        height: 650px;
    }
    #component3{
        width: 95%;
        margin-left: 0%;
        text-align: center;
    }
    #component4{
        width: 43%;
        margin-top: 8%;
    }
    #coupon{
        margin-left: 20%;
    }
} 

@media screen and (max-width: 800px){
    #findStore {
        margin-left: 82%;
        margin-top: -5%
    }
    .navbar-toggler{
        margin-left: 87%;
        margin-top: -12%
    }
    #navIcon:focus:not(focus-visible){
        position: sticky;
        margin-left: 87%;
        margin-top: -12%;
    }
}

@media screen and (max-width: 750px){
    #component1>img{
        margin-left: 15%;
    }
    #component4{
        width: 47%;
    }
} 

@media screen and (max-width: 700px){
    footer{
        height: 460px;
    }
    #category1{
        visibility: hidden;
    }
    #category2{
        visibility: hidden;
    }
    #category3{
        visibility: hidden;
    }
    #category4{
        visibility: hidden;
    }
    #category5{
        margin-top: 37%;
    }
    #footer2{
        visibility: hidden;
    }
    #accordionFooter{
        visibility: visible;
        margin-top: 12%;
        z-index: 100;
    }
    #ResponsiveFooterLinks{
        visibility: visible;
        margin-top: 47%;
        margin-left: 4%;
    }
    #section, #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9{
        height: 900px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat; 
        background-position-x: center;   
    }
    #section{
        background-image: url(https://i.ibb.co/G0PkpGC/section.jpg);
    }
    #section1{
        background-image: url(https://i.ibb.co/BBjHr4X/section1.png);
    }
    #section2{
        background-image: url(https://i.ibb.co/HHP8hy3/section2.jpg);
    }
    #section3{
        background-image: url(https://i.ibb.co/6gKXWyt/section3.jpg);
    }
    #section4{
        background-image: url(https://i.ibb.co/zhwmckZ/section4.png);
    }
    #section5{
        background-image: url(https://i.ibb.co/yYTkwyk/section5.png);
    }
    #section6{
        background-image: url(https://i.ibb.co/F8WsmbT/section6.jpg);
    }
    #section7{
        background-image: url(https://i.ibb.co/mcNPtYj/section7.png);
    }
    #section8{
        background-image: url(https://i.ibb.co/9vgCsXd/section8.jpg);
    }
    #section9{
        background-image: url(https://i.ibb.co/NCKjSgY/section9.jpg);
    }
}

@media screen and (max-width: 600px){
    #findStore {
        margin-left: 78%;
        margin-top: -8%;
    }
    .navbar-toggler{
        margin-left: 84%;
        margin-top: -20%
    }
    #navIcon:focus:not(focus-visible){
        position: sticky;
        margin-left: 84%;
        margin-top: -20%;
    }
    #section11{
        height: 500px;
    }
    #component1>img {
        margin-left: 13%;
        width: 75%;
    }
    #component4>img {
        width: 150%;
        margin-left: -35%;
        margin-top: -10%;
    }
    #coupon{
        margin-left: 10%;
    }
}

@media screen and (max-width: 500px){
    #section11 {
        height: 460px;
    }
    footer{
        height: 480px;
    }
    #ResponsiveFooterLinks {
        margin-top: 59%;
    }
    #category5 {
        margin-top: 55%;
    }
}

@media screen and (max-width: 560px){
    #component4>img {
        margin-top: -25%;
    }
}

@media screen and (max-width: 460px){
    .navbar-toggler {
        margin-left: 79%;
    }
    #findStore {
        margin-left: 74%;
    }
    #offer1 {
        width: 100px;
        height: 125px;
    }
    #offer2 {
        margin-left: -3%;
        width: 100px;
        height: 125px;
    }
    #offer3 {
        width: 200px;
    }
    #coupon {
        height: 190px;
        width: 204px;
        margin-left: 25%;
    }
    #couponBtn {
        margin-top: -94%;
        margin-left: 90%;
    }
    #ResponsiveFooterLinks {
        margin-top: 60%;
    }    
}

@media screen and (max-width:400px){
    #section, #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9 {
        background-position-x: 54%;
    }
    .logo {
        margin-left: 25px;
    }
    #section{
        background-position-x: 54%;
    }
    #section1, #section2, #section3, #section4, #section5, #section6, #section7, #section8, #section9 {
        background-position-x: 50%;
    }
    .navbar-toggler {
        margin-left: 73%;
    }
    #findStore {
        margin-left: 68%;
    }
    #weather {
        margin-left: -3%;
    }
    #component4>img {
        margin-top: -80%;
    }
    #section11 {
        height: 340px;
    }
    #ResponsiveFooterLinks {
        margin-top: 67%;
    }
}

@media screen and (max-width: 350px) {
    #ResponsiveFooterLinks {
        margin-top: 70%;
    }
}